.icon {
  margin-top: 5%;
  width: auto;
  position: absolute;
  height: auto;
  left: 20vw;
  // opacity: 1;
  max-width: 3%;
  top: -4vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  &.mobile {
    flex-direction: row;
    max-width: 90%;
    top: 23vw;
    left: 18vw;
  }
  filter: brightness(0) invert(1);
}

#icon {
  opacity: 1;
}

.icon-unit {
    cursor:pointer;
    // display: inline-block;
    margin-top: 0.3vw;
    margin-left: 1vw;
}
