.projects-layer {
    position: absolute;
    top: 98%;
    right: 5%;
    border: 5px solid #f7b93e;
    background: #f7b93e;
    background-size: cover;
    width: 30vw;
    animation: about-layer-tween ease-out 2s;
}