$color: #2a2c41;

$tween-color: #404040;
$transition: #404040;

// title related content for the splash header
$titleColor: white;
$titleSize: 4vw;
$backgroundShade: "#F0FFFF", "#00CED1", "#9400D3", "#FF8C00";

h3 {
  color: $color;
}

.navbar-container {
  width: 100%;
  :hover {
    // background-color: white;
  }
}


.about-me-header {
  font-size: $titleSize;
  position: absolute;
  background: white;
  top: 15%;
  left: 20%;
  color: #f7b93e;
  animation: about-header-tween ease-in-out 3s;
}

.projects-3D {
  position: absolute;
  right: 0;
  height: 47vw;
  width: 60vw;
}

.guidance {
  display: flex;
  position: absolute;
  top: 65%;
  justify-content: center;
  filter: invert(1);
}

.nav-bar-about {
  font-size: $titleSize * 0.5;
  display: flex;
  justify-content: center;
  // background-color: $color;
  color: white;
  // border-top: 5px solid #bbb;
  // border-bottom: 5px solid #bbb;
  // border-radius: 5px;
  // box-shadow: 2px 2px 2px 2px black;
  cursor:pointer;
}

.nav-bar-experience {
  font-size: $titleSize * 0.5;
  display: flex;
  justify-content: center;
  // background-color: $color;
  color: white;
  cursor:pointer;
  // border-top: 5px solid #bbb;
  // border-bottom: 5px solid #bbb;
  // border-radius: 5px;
  // box-shadow: 2px 2px 2px 2px black;
}

.navbar-cluster {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-home :hover {
  color: yellow;
  cursor:pointer;
}

.about-me-image {
  position: absolute;
  top: 30%;
  right: 5%;
  border: 5px solid #f7b93e;
  background: url("../public/image0.jpg");
  background-size: cover;
  width: 30vw;
  height: 30vw;
  // animation: about-image-tween ease-out 2s;
}

.about-me-layer {
  position: absolute;
  top: 98%;
  right: 5%;
  border: 5px solid #f7b93e;
  background: #f7b93e;
  background-size: cover;
  width: 30vw;
  animation: about-layer-tween ease-out 2s;
}

.about-description {
  position: absolute;
  font-size: large;
  margin-left: 16vw;
  max-width: 48vw;
  top: 50%;
  animation: about-description-tween ease-out 4s;
}

.about-body {
  height: 35vw;
  margin-top: 2%;
  background: white;
  animation: about-body-tween ease-out 1s;
}

.experience-body {
  height: 35vw;
  margin-top: 2%;
  background: rgb(218, 100, 100);
  animation: about-body-tween ease-out 1s;
}

.last-name {
  margin-left: 0%;
}

.three-env {
  position: absolute;
  left: 0;
  width: 100%;
  height: 98%;
}

.transition {
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fff;
  animation: transit-tween ease-in-out 1s;
  z-index: 4;
}

@keyframes transit-tween {
  0% { left: 0; width: 0% }
  // 100% { left: 100%; width: 100% }
  50% { left: 0% ; width: 100% }
  100% { left: 100% ; width: 0% }
}

.container-header {
  display: flex;
  position: absolute;
  // padding-left: 30%;
  left: 0;
  width: 100%;
  justify-content: center;
  background-color: $color;
  border-top: 5px solid #bbb;
  border-bottom: 5px solid #bbb;
  border-radius: 5px;
  animation: header-shift ease-in-out 2s;
}

.splash-container {
  // padding: 10px 10px 10px 10px;
}

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: radial-gradient(#404040 4%, #000000 96%);
}
.arrow {
	position: absolute;
	top: 4%;
  right: 4%;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
	
	&.left {
		left: 3%;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}

	&.right {
		right: 3%;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	
	&:hover {
		border-color: orange;
		box-shadow: 0.5vmin -0.5vmin 0 white;
	}
	
	&:before { // for better hit area
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}
}



.header-title {
  color: $titleColor;
  font-size: $titleSize;
  animation: title-fade ease-in 2s;
}

@keyframes title-fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes header-shift {
  0% {
    margin-top: 20%;
  }
  50% {
    margin-top: 20%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes about-body-tween {
  from {
    height: 0px;
    margin-top: 100%;
  }
  to {
    height: 35vw;
    margin-top: 2%;
  }
}

@keyframes about-image-tween {
  0% {
    right: 0%;
    opacity: 0%;
  }
  30% {
    right: 0%;
    opacity: 0%;
  }
  100% {
    right: 5%;
    opacity: 100%;
  }
}

@keyframes about-layer-tween {
  0% {
    height: 40vw;
    top: 30%;
  }
  60% {
    height: 40vw;
    top: 30%;
  }
  100% {
    height: 0vw;
    top: 100%;
  }
}

@keyframes about-header-tween {
  0% {
    background: #f7b93e;
    top: 30%;
  }
  18% {
    background: #f7b93e;
    top: 30%;
  }
  21% {
    background: white;
    top: 30%;
  }
  80% {
    background: white;
    top: 30%;
  }
  100% {
    background: white;
    top: 15%;
  }
}

@keyframes about-description-tween {
  0% {
    top: 30%;
    opacity: 0%
  }
  60% {
    // background: white;
    top: 30%;
    opacity: 0%;
  }
  80% {
    // background: white;
    top: 50%;
    opacity: 0%;
  }
  90% {
    // background: white;
    top: 50%;
    opacity: 100%;
  }
}
